.rect {
  fill: url(#linear-gradient);
}

.edge {
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
}
.edges__text {
  font-family: HYShortSamul;
  font-size: 50px;
  transform: scale(1.3, 1);
}

.faces {
  fill: url(#radial-gradient);
  stroke: url(#radial-gradient);
}
.faces__no-fill {
  stroke: url(#radial-gradient);
  fill: none;
}
.faces__text {
  font-family: Colonna MT;
  font-size: 123px;
  stroke: none;
}
.face {
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

.edges-1 {
  opacity: 0.65;
  fill: rgb(55, 55, 55);
}

.edges-2 {
  opacity: 0.35;
  fill: rgb(55, 55, 55);
}
.edge-blue {
  fill: rgb(55, 55, 150);
}
.edge-yellow {
  fill: rgb(150, 150, 55);
}
.edge-green {
  fill: rgb(55, 150, 55);
}
.edge-red {
  fill: rgb(150, 55, 55);
}

.face-blue {
  fill: rgb(74, 74, 208);
  stroke: rgb(74, 74, 208);
}
.face-yellow {
  fill: rgb(208, 208, 74);
  stroke: rgb(208, 208, 74);
}
.face-green {
  fill: rgb(74, 208, 74);
  stroke: rgb(74, 208, 74);
}
.face-red {
  fill: rgb(208, 74, 74);
  stroke: rgb(208, 74, 74);
}
.no-fill {
  fill: none;
}
.linear__stop-1 {
  stop-color: rgb(74, 74, 74);
}
.linear__stop-2 {
  stop-color: rgb(83, 83, 83);
}
.linear__stop-3 {
  stop-color: rgba(0, 0, 0, 1);
}
.radial__stop-1 {
  stop-color: rgb(255, 255, 255);
}
.radial__stop-2 {
  stop-color: rgb(170, 170, 170);
}
